* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 .fanc-text {
    color: #fff;
    text-shadow:
      0 0 7px rgb(13, 143, 250),
      0 0 10px rgb(255, 255, 255),
      0 0 21px rgb(236, 12, 12),
      0 0 42px rgb(255, 81, 0),
      0 0 82px rgb(255, 72, 0),
      0 0 92px rgb(255, 136, 0),
      0 0 102px #f09,
      0 0 151px #f09;
      padding:20px;
      padding-top:30px;

    animation: pulsate 0.11s ease-in-out infinite alternate;
    background-color: #010a01;
    font-size: 40px;
    font-family: "Sacramento" , sans-serif;
  }

body{
background-color: #f2f8fb;
display: grid;
text-align:right-center;
font-size:20px;
padding:15px;
}
.programmingintro
{
  padding:12px;
  font-size: 30px;

}
.programming{
  display:flex;
  justify-content: space-between;
  font-size: 30px;
}

/*
fancy text 5th point css here
*/

   .fancy-text {
    color: #fff;
    text-shadow:
      0 0 7px rgb(250, 13, 13),
      0 0 10px rgb(255, 255, 255),
      0 0 21px rgb(236, 12, 12),
      0 0 42px rgb(255, 81, 0),
      0 0 82px rgb(255, 72, 0),
      0 0 92px rgb(255, 136, 0),
      0 0 102px #f09,
      0 0 151px #f09;
      padding:20px;
      padding-top:30px;

    animation: pulsate 0.11s ease-in-out infinite alternate;
    
  }

/*
block programming technquie starts here
*/

.im
{
  display:flex;
  align-items: center;
  padding:10px 20px;
}
.easiest
{
  font-size: 20px;
  text-align: center;
  background-color: aquamarine;
    padding: 20px 10%;
  background-color: #acafbd;
  padding-top: 10px;
  padding-bottom: 1px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 10px 16px;
}

.text
{
  font-size:20px;
  padding-left:20px;
}

/*
block programming technique stops here
*/

/*
blocks divided into parts starts here
*/

.textiee
{
  text-align: center;
   font-size: 25px;;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float 2 columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.block1-para
{
  font-size: 18px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* styling of the block  cards */
.cardiB {
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(22, 20, 20, 0.2); /* this adds the "card" effect */
  padding: 16px;
  
  text-align: center;
  background-color:#c8c9cf;
}



/*
block divided into part ends here
*/



h1{
  background-color:white;
}
header {
  display:flex;
  justify-content:space-around;
  align-items: center;
  padding: 20px 10%;
  background-color:#060607;
  color:black; 
}

.logo {
  cursor: pointer;
  order: 3;
  margin-left: auto;
}

nav {
  order: 2;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
    text-decoration: none;
}

.nav__links {
  list-style: none;
  display: inline-flex;
  font-size: 16px;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li:nth-child(1) {
  padding: 0 20px 0 0;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  order: 2;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: ;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display:none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

/*
about page css
*/

.heady {
  padding: 60px;
  text-align: center;
  background: #24252a;
  color: white;
  font-size: 30px;
   display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boody{
  padding: 60px;
  text-align: center;
  background-color: #f2f8fb;
  color: black;
  font-size: 30px;
}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

